.btn_reply {
    outline: none;
    color: #da5b5b;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ul {
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}