.container {
    width: 100%;
    position: relative;
    box-shadow: 0 1px 4px 2px #7899b4;
    transition: height 1s ease-in-out;
    margin-bottom: 2rem;
}

.body {
    background-color: white;
    padding: 4px 4px 4px 6rem;
    border-bottom: 1px solid #a2b8ca;
}

.avatar {
    margin-left : -5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    float: left;
}

.email {
    font-weight: bold;
}

.date {
    color: #657786;
}
.date::before {
    content: '·';
}

.toolbar_container {
    float: right;
}

.content {
    white-space: pre-wrap;
}
.reply_list_container {
    position: relative;
}
.reply_list {
    max-height: 8rem;
    transition: max-height 0.8s;
    background-color: #93aabd;
    overflow: hidden;
    width: 100%;
}
.showing_true {
    max-height: 20rem;
}
.showing_false {
    max-height: 0;
}
.toggle_reply_list {
    height: 2rem;
    margin: 0 auto;
    outline: none;
    border: 2px solid grey;
    border-radius: 30% / 50%;
    background-color: white;
    color: grey;
    transition: box-shadow 0.1s;
}
.toggle_reply_list:hover {
    background-color: #dbd7d7;
}
.toggle_reply_list:active {
    box-shadow: 0 0 4px 2px;
}
